[Unit]
Description=Splice software KVM
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/splice service
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
